@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


// BREAKPOINTS
@mixin tablet {
    @media screen and (min-width: $w-tablet) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $w-desktop) {
        @content;
    }
}